.formulario-background {
background-color: #292929;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

.logo-form {
    margin-top: 25%;
}

.formulario-background h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: #F3AA00;
}